.App {
  text-align: center;
  display: flex;
  flex-direction: column;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.Header {
  height: 100%;
  width: 100%;
  background-color: #ab2a19;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.logoname {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-left: 40px;
}

#logo {
  padding-left: 40px;
  padding-top: 40px;
  padding-right: 20px;
  padding-bottom: 40px;
}
 #title {
   font-size: 24px;
 }

.links {

}

.productimg {
  height: 280px;
  width: 280px;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.product {
  height: 340px;
  width: 600px;
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: top;
  background-color: #d34735;
}

.productinfo{
  text-align: left;
}

/* .Dashboard {
padding-bottom: 20px;
} */

.productgrid {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-bottom: 20px;
}

.add_button {
  padding: 10px;
  margin: 5px 10px;
  background-color: #ed6b5a;
  border-radius: 7px;
  border: none;
  font-family: Open Sans,sans-serif;
  font-weight: 700;
  font-size: 16px;
}

.cancel_button {
  padding: 10px;
  margin: 5px 10px;
  background-color: #ed6b5a;
  border-radius: 7px;
  border: none;
  font-family: Open Sans,sans-serif;
  font-weight: 700;
  font-size: 16px;

}

.form {
  width: 350px;
  height: 520px;
  padding: 15px;
  margin: 10px auto;
  border-radius: 7px;
  background-color: #3ad886;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.form h4 {
  text-align: left;
}

.delete_button {
  padding: 10px;
  margin: 5px 10px;
  background-color: #3ad886;
  border-radius: 7px;
  border: none;
  font-family: Open Sans,sans-serif;
  font-weight: 700;
  font-size: 16px;

}

